.env
.env.*
!.env.testing
.phpunit.result.cache

storage/app/public/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*

node_modules
npm-debug.log
yarn-error.log

.git
.github
